body {background: #e4e8e9 url('../images/theme/bg.png');background-attachment: fixed;}
body {font:12px/1.6 arial,helvetica,sans-serif;margin:0;padding:0;color:#666}
body {font-family: "Overlock","Hiragino Sans GB","Microsoft YaHei",sans-serif}

.main {width:642px;margin:40px auto;}
.comments {width:635px;margin:35px auto;}
.guide {width: 634px;margin: 0px auto;}

.banner {font-family: "Overlock","Hiragino Sans GB","Microsoft YaHei",sans-serif}
.banner {height:35px;margin:3px auto;}
.banner ul {list-style:none;padding:8px 0px 0px 10px;margin:0px}
.banner ul li {float:left; margin-right:15px}

.banner a:link{color:#817F7F;text-decoration:none;text-shadow:0px 1px 0px white; padding:3px;margin:0 2px}
.banner a:visited{color:#817F7F;text-decoration:none;text-shadow:0px 1px 0px white;}
/*
.banner a:hover{background:#4d4f51; padding:3px; color:white; text-shadow: 0 1px 0 black; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;}
*/

.comments .comment {font-size: 13px;}

.guide {font-size: 13px}
.guide a:link{color:rgb(85, 85, 85);text-decoration:none;text-shadow:0px 1px 0px white; padding:3px;margin:0 2px}
.guide a:visited{color:rgb(85, 85, 85);text-decoration:none;text-shadow:0px 1px 0px white;}
/*.guide a:hover{background:#4d4f51; padding:3px; color:white; text-shadow: 0 1px 0 black; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;}*/

.footer a:link{color:#b2b2b2;text-decoration:none;text-shadow:0px 1px 0px white; padding:3px;margin:0 2px}
.footer a:visited{color:#b2b2b2;text-decoration:none;text-shadow:0px 1px 0px white;}
/*.footer a:hover{padding:3px; color:gray; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;}*/

.title a:link{color:#555;text-decoration:none;text-shadow:0px 2px 0px white; padding:3px;}
.title a:visited{color:#555;text-decoration:none;text-shadow:0px 2px 0px white;}
/*.title a:hover{color:#817F7F;text-decoration:none;text-shadow:0px 2px 0px white; padding:3px;}*/
.title a:hover{text-shadow:0 2px 0 white;}

.content {background:white;line-height:24px;font-size:13px}
.content {-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.content a:visited { padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:gray;text-decoration:none}
.content a:link{padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:gray;text-decoration:none}
/*.content a:hover {background:#4d4f51; padding:3px; color:white; text-shadow: 0 1px 0 black; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px}*/

.content p strong {color:black;}

.title {font-family: "Overlock","Hiragino Sans GB","Microsoft YaHei",sans-serif;}
.title {font-size:1.7em;margin-bottom:10px;text-shadow:0 1px 0 #f0f0f0;}

.content {margin-bottom:40px;background: rgba(255, 255, 255, 0.6);font-size:14px;}
.content {color:#626262; text-shadow:0 1px 0 white;}
.content b{color:#5c5c5c;}
.content {padding:15px;line-height: 2em;}

.footer, .paginator{font-size:12px; text-shadow:0 1px 0 white;text-align:center;margin-top:-10px;margin-bottom:25px;color:#b2b2b2;}

.paginator a:link{color:rgb(85, 85, 85);text-decoration:none;text-shadow:0px 1px 0px white; padding:3px;margin:0 2px}
.paginator a:visited{color:rgb(85, 85, 85);text-decoration:none;text-shadow:0px 1px 0px white;}
/*.paginator a:hover{background:#f0f0f0; padding:3px; color:gray; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;}*/

.comments a:link{color:rgb(85, 85, 85);text-decoration:none;text-shadow:0px 1px 0px white; padding:3px;margin:0 2px}
.comments a:visited{color:rgb(85, 85, 85);text-decoration:none;text-shadow:0px 1px 0px white;}
/*.comments a:hover{background:#414141; padding:3px; color:white; text-shadow: 0 1px 0 gray; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;}*/

.center {text-align: center}

::selection { background:transparent;}
::-moz-selection { background:transparent;}

.date {color:#CCCCCC;text-shadow:0 1px 0 white;font-size:12px;margin-bottom:10px;margin-left:5px;}
.date {text-transform: uppercase;}
.date a:link{color:#CCCCCC;text-decoration:none;text-shadow:0px 1px 0px white; padding:3px;margin:0 2px}
.date a:visited{color:#CCCCCC;text-decoration:none;text-shadow:0px 1px 0px white;}

.content:first-letter{font-size:30px;padding-right: 3px; color: #2b2b2b}

.center{text-align:center}

.share {margin:10px auto; width:630px;text-align:right}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }

.jiathis_style {float:right}

.content img{margin:0px auto;display:block;max-width:600px;margin-top: 10px; margin-bottom: 10px}
.img_left img{margin:0px;}

.cast {color:#CCCCCC;text-shadow:0 1px 0 white;font-size:12px;margin:20px auto;width:643px;margin-bottom: -25px;padding-left: 5px;}
.previous {float: left;}
.next {float: right;}

.douban {margin-right: 5px;}
#disqus_container .comment {margin-left: -5px;}
code {border:1px solid #ccc; background:white; padding:3px 5px; margin:0 3px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;text-shadow:0 1px 0 white; box-shadow:inset 1px 1px white;}

pre {padding:10px; background:white; text-shadow:0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
pre code {background: white; border: none; margin: -7px; box-shadow: none; font-family: helvetica;}
blockquote {font-style: italic; background-image: url('../images/theme/block.png'); background-repeat: no-repeat; background-position: left top; padding-left: 25px; margin-left: 20px; background-color: transparent;}

.archive {list-style: none; padding: 0px}
.archive li {padding: 0px}
.archive li time {color:#989990;}
.archive .year {color: black; font-weight: bold; text-transform: uppercase; margin: 10px 0px;}

.eof img{margin: 0px}
.forb {font-size: 12px; color: #b2b2b2; text-align: right}
.upper {text-transform: uppercase;}
.tagcloud {margin-top: 10px}

.forb a:link{font-size:12px;color: #b2b2b2;padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;text-decoration:none}
.forb a:visited {font-size:12px;padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:#b2b2b2;text-decoration:none}
/*.forb a:hover {font-size:12px;background:#4d4f51; padding:3px; color:white; text-shadow: 0 1px 0 black; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px}*/

.tag0 a:link{font-size:14px;color: #c4c4c4;padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;text-decoration:none}
.tag0 a:visited {font-size:14px;padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:#c4c4c4;text-decoration:none}
/*.tag0 a:hover {font-size:14px;background:#4d4f51; padding:3px; color:white; text-shadow: 0 1px 0 black; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px}*/

.tag1 a:link{font-size:16px;color: #a0a0a0;padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;text-decoration:none}
.tag1 a:visited {font-size:16px;padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:#a0a0a0;text-decoration:none}
/*.tag1 a:hover {font-size:16px;background:#4d4f51; padding:3px; color:white; text-shadow: 0 1px 0 black; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px}*/

.tag2 a:link{font-size:18px;color: gray;padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;text-decoration:none}
.tag2 a:visited {font-size:18px;padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:gray;text-decoration:none}
/*.tag2 a:hover {font-size:18px;background:#4d4f51; padding:3px; color:white; text-shadow: 0 1px 0 black; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px}*/

.tag3 a:link{font-size:20px;color: #4d4d4d;padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;text-decoration:none}
.tag3 a:visited {font-size:20px;padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:#4d4d4d;text-decoration:none}
/*.tag3 a:hover {font-size:20px;background:#4d4f51; padding:3px; color:white; text-shadow: 0 1px 0 black; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px}*/

.tag4 a:link{font-size:24px;color: black;padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;text-decoration:none}
.tag4 a:visited {font-size:24px;padding:3px; text-shadow: 0 1px 0 white; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:black;text-decoration:none}
/*.tag4 a:hover {font-size:24px;background:#4d4f51; padding:3px; color:white; text-shadow: 0 1px 0 black; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px}*/
