<!DOCTYPE HTML>
<html>
<head>
  <title>{{ site.title }}|{{ site.description }}</title>
  {% include header.html %}
  <meta content="{{ site.headdesc }}" name="description"/>
  <meta content="{{ site.headkeys }}" name="keywords"/>
</head>
<body>
{% include banner.html %}

<div class="cast">{{ site.description }}...</div>

<div class="main">
{{ content }}
</div>

<div class="paginator">

{% if paginator.previous_page or paginator.next_page %}

{% if paginator.previous_page %}

{% if paginator.previous_page == 1 %}
<a href="{{ page.id }}/">上一页</a>
{% else %}
<a href="{{ page.id }}/page{{ paginator.previous_page }}/">上一页</a>
{% endif %}

{% endif %}

{% if paginator.next_page %}
<a href="{{ page.id }}/page{{ paginator.next_page }}/">下一页</a>
{% endif %}
</div>

{% endif %}

{% include footer.html %}
</body>
</html>

